<div class="columns features">
  <div class="container">
    <div class="notification-container">
      <div class="logo-img">
        <img onmousedown="return false;" src="assets/img/Manacla-no-bg.png" width="190">
      </div>
      <div class="notification information">
        <div class="info">
          <h1>Feliz Navidad y Próspero Año Nuevo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="columns features">
  <div class="container">
    <div class="content">
      <p>
        Manacla es una pequeña comunidad rural en la region de San Jose de las Matas (Sajoma) de la
        Republica Dominicana. Esta comunidad vive por su gran parte de la tierra en el desarrollo de
        agricultura y ganadería.
      </p>
      <br />
      Característica de esta bella region incluye:
      <ul>
        <li>Gente alegre</li>
        <li>Naturaleza verde y floreciente</li>
        <li>Rios con aguas limpia, fria y muchas areas de diversión</li>
        <li>Tranquilidad total sin los sonidos urbanos</li>
        <br />
        <li>Agricultura</li>
        <ul>
          <li>Aguacate</li>
          <li>Banana</li>
          <li>Café</li>
          <li>Limones</li>
          <li>Mango</li>
          <li>Naranjas</li>
          <li>Peras</li>
          <li>Piñas</li>
          <li>Plátanos</li>
          <li>Yautia</li>
          <li>Yuca</li>
        </ul>
        <li>Cría de animales / ganadería</li>
        <ul>
          <li>Cerdos</li>
          <li>Chivos</li>
          <li>Gallinas</li>
          <li>Guineas</li>
          <li>Pollos</li>
          <li>Vacas</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
