<!-- header -->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img onmousedown="return false;" src="web/assets/img/Manacla.png">
      {{ companyName }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- main menu -->
  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About Us
          </a>

          <a class="navbar-item">
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- right menu -->
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
      </div>
    </div>
  </div>
</nav>