.card-image {
    border: 0px;
    border-style: solid;
    border-color: #fff;
  }
  
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
