<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="spacing"></div>
<h2>This website is currently under construction.</h2>
<h2>Please contact us</h2>
<div class="contact">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScpQjk5xxdfcS2wHlvIlLxfjUHNGlSCNNCn9DH-cq8q5qXdbg/viewform?embedded=true" width="100%" scrolling="auto" frameborder="0" marginheight="400" marginwidth="0">Loading...</iframe>
</div>
<br />
<br />
<br />
<div class="logo-img">
<img onmousedown="return false;" src="assets/img/Manacla.png" width="400">
</div>
<div class="columns">
  <div class="column">
    
  </div>
  <div class="column">
    
  </div>
</div>
