<div class="hero-body">

  <div class="container">
    <div class="columns features">
      <div class="container">
        <div class="notification">
          <div style="text-align:center">
            <h1>
              {{ title }}'s website is currently under construction.
            </h1>
          </div>
          <div class="spacing"></div>
          <br />
          <div class="logo-img">
            <img onmousedown="return false;" src="assets/img/Manacla-no-bg.png" width="130">
          </div>
        </div>
      </div>
    </div>

    <div class="columns features">
      <div class="column is-4">
        <app-card image="assets/images/coffee_tree.jpg" title="Coffee" description="Coffee trees produce berries, called coffee cherries, that turn bright red when they are ripe and ready
          to pick. Manacla is know for growing coffee."></app-card>
      </div>
      <div class="column is-4">
        <app-card image="assets/images/OldHouse.jpg" title="Old House in Manacla"
          description="This old house displays some of the typical colors of houses in Manacla."></app-card>
      </div>
      <div class="column is-4">
        <app-card image="assets/images/nature.jpg" title="Nature" description="Nature at it's fullest"></app-card>
      </div>
    </div>

    <div class="columns features">
      <div class="column is-4">
        <app-card image="assets/images/t.jpg" title="" description=""></app-card>
      </div>
      <div class="column is-4">
        <app-card image="assets/images/flower.jpg" title="Flower" description=""></app-card>
      </div>
      <div class="column is-4">
        <app-card image="assets/images/rio.jpg" title="River" description=""></app-card>
      </div>
    </div>
  </div>
</div>