<div class="hero-body">

  <div class="container">
    <div class="columns features">
      <div class="container">
        <div class="notification">
          <div style="text-align:center">
            <h1>
              {{ title }}'s website is currently under construction.
            </h1>
          </div>
          <div class="spacing"></div>
          <br />
          <div class="logo-img">
            <img onmousedown="return false;" src="assets/img/Manacla-no-bg.png" width="130">
          </div>
        </div>
      </div>
    </div>

    <div class="columns features">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/coffee_tree.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Coffee</h4>
              <p>Coffee trees produce berries, called coffee cherries, that turn bright red when they are ripe and ready
                to pick. Manacla is know for growing coffee.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/OldHouse.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Old House in Manacla</h4>
              <p>This old house displays some of the typical colors of houses in Manacla.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/nature.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Nature</h4>
              <p>Nature at it's fullest</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns features">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/t.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4></h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/flower.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Flower</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/rio.jpg" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>River</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>