<!-- header -->
<div class="hero-head">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
          <img onmousedown="return false;" src="assets/img/Manacla-logo.png" alt="Logo">&nbsp;
          {{ companyName }}
        </a>

        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <!-- right menu -->
      <div id="navbarMain" class="navbar-menu" #navMenu>
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-white is-outlined" routerLink="">
              <span class="icon">
                <i class="fa fa-home"></i>
              </span>
              <span>Inicio</span>
            </a>
          </span>

          <span class="navbar-item">
            <a class="button is-white is-outlined" routerLink="/gallery">
              <span class="icon">
                <i class="fa fa-picture-o"></i>
              </span>
              <span>Galería / Videos</span>
            </a>
          </span>

          <span class="navbar-item">
            <a class="button is-white is-outlined" routerLink="/about">
              <span class="icon">
                <i class="fa fa-info-circle"></i>
              </span>
              <span>Sobre Nosotros</span>
            </a>
          </span>

          <span class="navbar-item">
            <a class="button is-white is-outlined" href="https://goo.gl/forms/tFJOLC7NTxEZYNjp1" target="_blank">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <span>Contacto</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
