<!-- header -->
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
          <img onmousedown="return false;" src="assets/img/Manacla-no-bg.png" alt="Logo">&nbsp;
          {{ companyName }}
        </a>

        <a class="navbar-burger burger" data-target="navbarMain">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <!-- right menu -->
      <div id="navbarMain" class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-white is-outlined" routerLink="">
              <span class="icon">
                <i class="fa fa-home"></i>
              </span>
              <span>Home</span>
            </a>
          </span>

          <span class="navbar-item">
            <a class="button is-white is-outlined" routerLink="/about">
              <span class="icon">
                <i class="fa fa-info-circle"></i>
              </span>
              <span>About Us</span>
            </a>
          </span>

          <span class="navbar-item">
            <a class="button is-white is-outlined" href="https://goo.gl/forms/tFJOLC7NTxEZYNjp1" target="_blank">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <span>Contact Us</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
